@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Adamina';
    src:
    url('../public/fonts/Adamina-Regular.ttf') format('truetype');
    font-display: swap;
}

.bg-container3 {
  height: 100%;
  background-image: url('../public/background4.webp');
  background-size: cover;
  background-position: center;
}

.bg-container2 {
  height: 100%;
  background-image: url('../public/background3.webp');
  background-size: cover;
  background-position: center;
}

.bg-container {
  height: 100%;
  background-image: url('../public/background2.webp');
  background-size: cover;
  background-position: center;
}

/* Small Screen Menu Animation */
.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
  }
  
.animate-slide-out {
  animation: slide-out 0.3s ease-out forwards;
}
  
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}